@define-mixin atSmall {
	@media (min-width: 530px)  { 
		/* v teto media query ma byt umisteno nasledujici */ 
		@mixin-content;
	};	
}

@define-mixin atMedium {
	@media (min-width: 800px)  { 
		/* v teto media query ma byt umisteno nasledujici */ 
		@mixin-content;
	};	
}


@define-mixin atLarge {
	@media (min-width: 1200px)  { 
		/* v teto media query ma byt umisteno nasledujici */ 
		@mixin-content;
	};	
}

@define-mixin clearfix  {
	&::after  {
		content: "";
		clear: both;
		display: table;

	}
}
